.header-wrapper {
	align-items: center;
	background-color: #181836;
	color: white;
	display: flex;
	margin-bottom: 15px;
	padding: 5px 10px;
	height: 40px;
}

.header-logo {
	flex: 1;
}

.header-search {
	flex: 2;
}

.header-search-input {
	padding: 5px 5px;
	width: 100%;
	border: solid 1px lightgray;
	border-radius: 3px;
	font-size: small;
	outline: none;
}

.header-logo-text {
	font-size: medium;
}

.header-options {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	gap: 8px;
}

.header-login-button {
	font-size: small;
	color: white;
	text-decoration: none;
}

.header-cart-button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-size: small;
}

@media screen and (max-width: 576px) {


  .header-wrapper {
		flex-direction: column;
		height: auto;
  }

	.header-search {
		margin: 10px 0px;
		width: 90%
	}

	.header-options {
		position: absolute;
		right: 10px;
		top: 8px;
	}
}
