* {
	margin: 0px;
	padding: 0px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
	display: flex;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px;
	justify-content: center;
}
